nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        .container.px-5
          a.navbar-brand(href='index.html') DCT
          button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon