section
    .container.my-5
        .row.gx-5
            .col-lg-12.mb-0.mb-lg-0
                h2.fw-bolder.mb-0.center Time Taken for comparison 
                    div
                        span.value  #{data.performaceTime} 
                        span  ms